<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
		<rewrite>
		  <rules>
                <clear />
                <rule name="HTTPS Redirect" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="false" />
                </rule>
                <rule name="ReactRouter Routes" stopProcessing="true">
                    <match url="^(?!.*[.]php$)^(?!.*[.]png$)^(?!.*[.]jpeg$)^(?!.*[.]jpg$).*$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.html" />
                </rule>
		  </rules>
		</rewrite>
		<directoryBrowse enabled="true" />
        <security>
			 <requestFiltering>
			    <requestLimits maxAllowedContentLength="1000000000" maxUrl="1000000000" maxQueryString="1000000000">
                    <headerLimits>
                    </headerLimits>
                </requestLimits>
				<verbs allowUnlisted="true">
					<add verb="DELETE" allowed="true" />
					<add verb="PUT" allowed="true" />
                    <add verb="GET" allowed="true" />
                    <add verb="POST" allowed="true" />
				</verbs>
                <fileExtensions>
                    <add fileExtension=".php" allowed="true" />
                    <add fileExtension=".js" allowed="true" />
                </fileExtensions>
			</requestFiltering>
            <authorization>
                <remove users="*" roles="" verbs="" />
                <add accessType="Allow" users="?" verbs="GET,POST,PUT,DELETE" />
                <add accessType="Allow" users="*" verbs="GET,POST,PUT,DELETE,HEAD" />
            </authorization>
		</security>
		<modules>
            <remove name="UrlMappingsModule" />
            <remove name="WindowsAuthentication" />
			<remove name="WebDAVModule" />
            <add name="WindowsAuthentication" type="System.Web.Security.WindowsAuthenticationModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" preCondition="" />
            <add name="UrlMappingsModule" type="System.Web.UrlMappingsModule" preCondition="" />
		</modules>
		<handlers accessPolicy="Read, Execute, Script">
            <remove name="StaticFile" />
            <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
            <remove name="WebAdminHandler-Integrated-4.0" />
            <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
            <remove name="PHP_via_FastCGI" />
		  <remove name="WebDAV" />
		  <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
		  <remove name="OPTIONSVerbHandler" />
		  <remove name="TRACEVerbHandler" />
		  <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,POST,PUT,DELETE" type="System.Web.Handlers.TransferRequestHandler" resourceType="Either" requireAccess="None" preCondition="integratedMode,runtimeVersionv4.0" />
            <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*.test" verb="" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="None" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
            <add name="WebAdminHandler-Integrated-4.0" path="WebAdmin.axd" verb="GET,POST,DEBUG" type="System.Web.Handlers.WebAdminHandler" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode,runtimeVersionv4.0" />
            <add name="FastCgiModule" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files (x86)\PHP\v7.1\php-cgi.exe" resourceType="File" />
            <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*.test" verb="" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="None" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
            <add name="StaticFile" path="*" verb="*" modules="StaticFileModule" scriptProcessor="C:\Program Files (x86)\PHP\v7.1\php-cgi.exe" resourceType="File" requireAccess="Execute" />
		</handlers>
    </system.webServer>
    <system.web>
        <authentication mode="Windows" />
        <identity impersonate="false" />
    </system.web>
</configuration>